@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', serif;
}

:root {
    --one-color: #131313;
    --two-color: #ff8177;
    --three-color: #ff0844;
    --four-color: #ffb199;
    --five-color: #cf0abf;
    --six-color: white;
    --seven-color: #e9e9e9;
    --eight-color: #ee0979;
    --nine-color: #ff6a00;
    --ten-color: #ee0979;
    --eleven-color: #ff6a00;
    --twelth-color: #ee0979;
    --thirteen-color: #D3CCE3;
    --fourteen-color: #E9E4F0;
    --fifteen-color: #D3CCE3;
    --sixteen-color: #E9E4F0;
    --seventeen-color: #D3CCE3;
    --eighteen-color: #833ab4;
    --nineteen-color: #fcb045;
    --twenty-color: #fd1d1d;
    --twentyone-color: #833ab4;
    --twentytwo-color: #fcb045;
    --twentythree-color: #fd1d1d;
    --twentyfour-color: #833ab4;
    --twentyfive-color: #be2c2c;
    --twentysix-color: #f4918a;
    --twentyseven-color: #ff0844;
    --twentyeight-color: #fd815b;
    --twentynine-color: rgba(136, 132, 132, 0.5);
    --thirty-color: white;
    --thirtyone-color: black;
}

.light-theme {
    --one-color: #edf2fc;
    --two-color: #ff8177;
    --three-color: #ff0844;
    --four-color: #ffb199;
    --five-color: #ff0844;
    --six-color: black;
    --seven-color: #e9e9e9;
    --eight-color: #ee0979;
    --nine-color: #ff6a00;
    --ten-color: #ee0979;
    --eleven-color: #ff6a00;
    --twelth-color: #ee0979;
    --thirteen-color: #000000;
    --fourteen-color: #000000;
    --fifteen-color: #434343;
    --sixteen-color: #000000;
    --seventeen-color: #434343;
    --eighteen-color: #833ab4;
    --nineteen-color: #fcb045;
    --twenty-color: #fd1d1d;
    --twentyone-color: #833ab4;
    --twentytwo-color: #fcb045;
    --twentythree-color: #fd1d1d;
    --twentyfour-color: #833ab4;
    --twentyfive-color: #f26286;
    --twentysix-color: #f4918a;
    --twentyseven-color: #ff0844;
    --twentyeight-color: #fd815b;
    --twentynine-color: rgba(255, 255, 255, 0.5);
    --thirty-color: black;
    --thirtyone-color: white;
}


/*NAVBAR SECTION*/

.navbar {
    background: var(--one-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: var(--two-color);
    background-image: linear-gradient(to top, var(--three-color) 0%, var(--four-color) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-top: 15px;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_items {
    height: 80px;
}

.navbar_links {
    color: var(--six-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3 ease;
}

.navbar_links:hover {
    color: var(--five-color);
    transition: all 0.3s ease;
}

.logo {
    cursor: pointer;
    width: 70px;
    padding-right: 20px;
}

#theme {
    width: 35px;
    margin-left: 20px;
}

.signin_btn {
    background: var(--eighteen-color);
    background: -webkit-linear-gradient(to right, var(--nineteen-color), var(--twenty-color), var(--twentyone-color));
    background: linear-gradient(to right, var(--twentytwo-color), var(--twentythree-color), var(--twentyfour-color));
    color: var(--six-color);
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 30px;
    cursor: pointer;
}

.sign_in {
    color: var(--thirty-color);
    text-decoration: none;
}

.signin_btn:hover {
    color: var(--six-color);
}

.cart_btn {
    padding: 10px 20px;
    margin-left: 30px;
    border: 2px solid var(--six-color);
    border-radius: 10px;
    cursor: pointer;
}

.cart {
    color: var(--six-color);
    text-decoration: none;
}

@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80%;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .navbar_menu.active {
        background: var(--one-color);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 85vh;
        font-size: 1.6rem;
    }
    #navbar_logo {
        padding-left: 25px;
        margin: 8px;
    }
    .navbar_toggle {
        margin: 6px;
    }
    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--six-color);
    }
    .navbar_item {
        width: 100%;
    }
    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    /*making HAMBURGER MENU*/
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    /*showing HAMBURGER MENU*/
    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }
    .signin_btn {
        width: 40%;
        text-align: center;
        margin-left: 150px;
        margin-top: 30px;
    }
    .cart_btn {
        width: 40%;
        text-align: center;
        margin-left: 150px;
        margin-top: 20px;
    }
    #theme {
        margin-top: 20px;
        margin-left: 225px;
    }
}


/*HERO SECTION*/

.hero {
    padding: 200px 0;
    background-color: var(--one-color);
    ;
}

.hero_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.hero_heading {
    font-size: 100px;
    margin-bottom: 24px;
    color: var(--six-color);
}

.hero_heading span {
    background: var( --eight-color);
    /* fallback for old browsers */
    background: -webkit-linear-gradient( to right, var( --nine-color), var( --ten-color));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to right, var( --eleven-color), var(--twelth-color));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.hero_description {
    font-size: 45px;
    background: var(--thirteen-color);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--fourteen-color), var(--fifteen-color));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--sixteen-color), var(--seventeen-color));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_btn a {
    text-decoration: none;
    z-index: 2;
    position: relative;
    text-decoration: none;
    color: var(--six-color);
}

.main_btn a:hover {
    text-decoration: none;
    color: var(--six-color);
}

.main_btn {
    font-size: 1.8rem;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    margin-top: 3rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    background: var(--eighteen-color);
    background: -webkit-linear-gradient(to right, var(--nineteen-color), var(--twenty-color), var(--twentyone-color));
    background: linear-gradient(to right, var(--twentytwo-color), var(--twentythree-color), var(--twentyfour-color));
    color: var(--six-color);
    text-decoration: none;
}

.main_btn::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--twentyfive-color);
    transition: all 0.35s;
    border-radius: 10px;
    color: var(--six-color);
    text-decoration: none;
}

.main_btn:hover::after {
    width: 100%;
    color: var(--six-color);
    text-decoration: none;
}

@media screen and (max-width: 960px) {
    .hero_description {
        font-size: 24px;
    }
}


/*SERVICES SECTION*/

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 10rem 0;
    background-color: var(--one-color);
    ;
}

.services h1 {
    background-color: var( --twentysix-color);
    background-image: linear-gradient(to right, var(--twentyseven-color) 0%, var( --twentyeight-color) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 3rem;
}

.services_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.services_card {
    margin: 10px;
    height: 425px;
    width: 280px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--six-color);
    background-image: url("../assets/coding.jpg");
    background-repeat: no-repeat;
    background-size: 160%;
    transition: 0.3s ease in;
}

.services_card:nth-child(2) {
    background-image: url("../assets/techno.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
}

.services_card:nth-child(3) {
    background-image: url("../assets/E&E.jpg");
    background-repeat: no-repeat;
    background-size: 160%;
}

.services_card:nth-child(4) {
    background-image: url("../assets/math.jpg");
    background-repeat: no-repeat;
    background-size: 160%;
}

.services_card:nth-child(5) {
    background-image: url("../assets/law.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
}

.inside {
    margin-left: 30px;
    border-radius: 30px;
    background: var(--twentynine-color);
    width: 230px;
    padding: 10px;
}

.services_card h2 {
    text-align: center;
}

.services_card p {
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
}

.services_btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.services_btn button {
    color: var(--six-color);
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: var(--eighteen-color);
    background: -webkit-linear-gradient(to right, var(--nineteen-color), var(--twenty-color), var(--twentyone-color));
    background: linear-gradient(to right, var(--twentytwo-color), var(--twentythree-color), var(--twentyfour-color));
}

.services_btn button:hover {
    transition: 0.3s ease-in;
    transform: scale(1.175);
    cursor: pointer;
}

.services_btn a {
    color: var(--six-color);
    text-decoration: none;
}

.services_btn a:hover {
    color: var(--six-color);
    text-decoration: none;
}

@media screen and (max-width: 1300px) {
    .services_wrapper {
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .services_wrapper {
        grid-template-columns: 1fr;
    }
}


/* ABOUT SECTION */

.footer_container {
    background-color: var(--one-color);
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--six-color);
}

.footer_link_wrapper {
    display: flex;
}

.footer_link_items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    margin: 20px;
    width: 200px;
}

.footer_link_items a {
    color: var(--six-color);
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3s ease-out;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer_link_items a:hover {
    color: var(--seven-color);
    transition: 0.3s ease-out;
}

.footer_link_items h2 {
    color: var(--six-color);
    margin-bottom: 16px;
}

.social_icons_link {
    color: var(--thirty-color);
    font-size: 24px;
}

.social_media {
    width: 100%;
    background: var(--one-color);
}

.social_media_wrap {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.website_rights {
    color: var(--six-color);
    margin-left: 38%;
}

.social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    margin-left: 40%;
}

@media screen and (max-width:960px) {
    .footer_container {
        display: grid;
        grid-column: auto;
        text-align: center;
    }
    .footer_link_wrapper {
        display: grid;
        grid-template-rows: max-content;
    }
    .footer_link_items {
        margin-left: 18%;
        text-align: center;
    }
    .social_media {
        display: grid;
        justify-content: center;
    }
    .social_media_wrap {
        display: grid;
        align-items: center;
    }
    .website_rights {
        margin: auto;
    }
    .social_icons {
        margin: auto;
    }
}