@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', serif;
}

:root {
    --one-color: #131313;
    --two-color: #ff8177;
    --three-color: #ff0844;
    --four-color: #ffb199;
    --five-color: #cf0abf;
    --six-color: white;
    --seven-color: #e9e9e9;
    --eight-color: #ee0979;
    --nine-color: #ff6a00;
    --ten-color: #ee0979;
    --eleven-color: #ff6a00;
    --twelth-color: #ee0979;
    --thirteen-color: #D3CCE3;
    --fourteen-color: #E9E4F0;
    --fifteen-color: #D3CCE3;
    --sixteen-color: #E9E4F0;
    --seventeen-color: #D3CCE3;
    --eighteen-color: #833ab4;
    --nineteen-color: #fcb045;
    --twenty-color: #fd1d1d;
    --twentyone-color: #833ab4;
    --twentytwo-color: #fcb045;
    --twentythree-color: #fd1d1d;
    --twentyfour-color: #833ab4;
    --twentyfive-color: #be2c2c;
    --twentysix-color: #f4918a;
    --twentyseven-color: #ff0844;
    --twentyeight-color: #fd815b;
    --twentynine-color: rgba(136, 132, 132, 0.5);
    --thirty-color: white;
    --thirtyone-color: black;
    --thirtytwo-color: white;
    --thirtythree-color: white;
}

.light-theme {
    --one-color: #edf2fc;
    --two-color: #ff8177;
    --three-color: #ff0844;
    --four-color: #ffb199;
    --five-color: #cf0abf;
    --six-color: black;
    --seven-color: #e9e9e9;
    --eight-color: #ee0979;
    --nine-color: #ff6a00;
    --ten-color: #ee0979;
    --eleven-color: #ff6a00;
    --twelth-color: #ee0979;
    --thirteen-color: #000000;
    --fourteen-color: #000000;
    --fifteen-color: #434343;
    --sixteen-color: #000000;
    --seventeen-color: #434343;
    --eighteen-color: #833ab4;
    --nineteen-color: #fcb045;
    --twenty-color: #fd1d1d;
    --twentyone-color: #833ab4;
    --twentytwo-color: #fcb045;
    --twentythree-color: #fd1d1d;
    --twentyfour-color: #833ab4;
    --twentyfive-color: #f26286;
    --twentysix-color: #f4918a;
    --twentyseven-color: #ff0844;
    --twentyeight-color: #fd815b;
    --twentynine-color: rgba(255, 255, 255, 0.5);
    --thirty-color: black;
    --thirtyone-color: white;
    --thirtytwo-color: black;
    --thirtythree-color: white;
}

.navbar {
    background: var(--one-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: var(--two-color);
    background-image: linear-gradient(to top, var(--three-color) 0%, var(--four-color) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-top: 15px;
    padding-right: 3px;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_items {
    height: 80px;
}

.navbar_links {
    color: var(--six-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3 ease;
}

.navbar_links:hover {
    color: var( --three-color);
    transition: all 0.3s ease;
}

.logo {
    cursor: pointer;
    width: 70px;
    padding-right: 20px;
}

#theme {
    width: 35px;
    margin-left: 20px;
}

.signin_btn {
    background: var(--eighteen-color);
    background: -webkit-linear-gradient(to right, var(--nineteen-color), var(--twenty-color), var(--twentyone-color));
    background: linear-gradient(to right, var(--twentytwo-color), var(--twentythree-color), var(--twentyfour-color));
    color: var(--six-color);
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 30px;
    cursor: pointer;
}

.sign_in {
    color: white;
    text-decoration: none;
}

.signin_btn:hover {
    color: var(--six-color);
}

.cart_btn {
    padding: 10px 20px;
    margin-left: 30px;
    border: 2px solid var(--six-color);
    border-radius: 10px;
    cursor: pointer;
}

.cart {
    color: var(--six-color);
    text-decoration: none;
}

@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80%;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .navbar_menu.active {
        background: var(--one-color);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 85vh;
        font-size: 1.6rem;
    }
    #navbar_logo {
        padding-left: 25px;
        margin: 8px;
    }
    .navbar_toggle {
        margin: 6px;
    }
    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--six-color);
    }
    .navbar_item {
        width: 100%;
    }
    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    /*making HAMBURGER MENU*/
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    /*showing HAMBURGER MENU*/
    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }
    #theme {
        margin-left: 225px;
    }
    .signin_btn {
        width: 40%;
        text-align: center;
        margin-left: 150px;
        margin-top: 30px;
    }
    .cart_btn {
        width: 40%;
        text-align: center;
        margin-left: 150px;
        margin-top: 20px;
    }
    #theme {
        margin-top: 20px;
        margin-left: 225px;
    }
}


/* PAYMENT SECTION */

.wrapper {
    background-color: #fff;
    width: 800px;
    height: 850px;
    padding: 40px;
    margin-left: 28%;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.wrapper h2 {
    background-color: #fcfcfc;
    color: #ff6a00;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px dotted #333;
}

h4 {
    padding-bottom: 5px;
    color: #ff6a00;
}

.online_banking_button {
    width: 100%;
    background-color: #ff6a00;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.online_banking {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

hr {
    margin-top: 20px;
    border: 0.3px solid black;
    margin-bottom: 20px;
}

.pay_with_card {
    margin-left: 38%;
}

.input_group {
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.input_box {
    width: 100%;
    margin-right: 12px;
    position: relative;
}

.input_box:last-child {
    margin-right: 0px;
}

.name {
    padding: 14px 10px 14px 100px;
    width: 100%;
    background-color: #fcfcfc;
    border: 1px solid #00000033;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: #333;
}

.name:focus,
.dob:focus {
    -webkit-box-shadow: 0 0 2px 1px #ff6a00;
    -moz-box-shadow: 0 0 2px 1px #ff6a00;
    box-shadow: 0 0 2px 1px #ff6a00;
    border: 1px solid #ff6a00;
}

.input_box .icon {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    color: #333;
    background-color: #f1f1f1;
    border-radius: 2px 0 0 2px;
    font-size: 20px;
    pointer-events: none;
    border: 1px solid #00000033;
    border-right: none;
}

.name:focus+.icon {
    background-color: #ff6a00;
    color: #fff;
    border-right: 1px solid #ff6a00;
    border: none;
    transition: 0.2s;
}

.dob {
    width: 30%;
    padding: 14px;
    text-align: center;
    background-color: #fcfcfc;
    transition: 0.3s;
    outline: none;
    border: 1px solid #c0bfbf;
    border-radius: 3px;
}

.slash {
    font-size: 20px;
    font-weight: 700;
}

.card_expired {
    width: 30%;
    padding: 14px;
    text-align: center;
    background-color: #fcfcfc;
    transition: 0.3s;
    outline: none;
    border: 1px solid #c0bfbf;
    border-radius: 3px;
}

.card_expired:focus {
    -webkit-box-shadow: 0 0 2px 1px #ff6a00;
    -moz-box-shadow: 0 0 2px 1px #ff6a00;
    box-shadow: 0 0 2px 1px #ff6a00;
    border: 1px solid #ff6a00;
}

.radio {
    display: none;
}

.input_box .radio_label {
    width: 50%;
    padding: 13px;
    background-color: #fcfcfc;
    display: inline-block;
    float: left;
    text-align: center;
    border: 1px solid #c0bfbf;
    cursor: pointer;
}

.input_box .radio_label:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
}

.input_box .radio_label:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.radio:checked+.radio_label {
    background-color: #ff6a00;
    color: #fff;
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    width: 100%;
    background: transparent;
    border: none;
    background: #ff6a00;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.35s ease;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #ff8f3f
}

@media screen and (max-width:960px) {
    .wrapper {
        width: 450px;
        margin-left: 4%;
    }
    .pay_with_card {
        margin-left: 25%;
    }
    .input_box .icon {
        width: 40px;
    }
    .name {
        padding: 14px 10px 14px 40px;
    }
    .dob:last-child {
        width: 35%;
    }
    .card_expired:last-child {
        width: 40%;
    }
}


/* ABOUT SECTION */

.footer_container {
    background-color: var(--one-color);
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--six-color);
}

.footer_link_wrapper {
    display: flex;
}

.footer_link_items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    margin: 20px;
    width: 200px;
}

.footer_link_items a {
    color: var(--six-color);
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3s ease-out;
}

.footer_link_items a:hover {
    color: var(--seven-color);
    transition: 0.3s ease-out;
}

.footer_link_items h2 {
    color: var(--six-color);
    margin-bottom: 16px;
}

.social_icons_link {
    color: var(--thirty-color);
    font-size: 24px;
}

.social_media {
    width: 100%;
    background: var(--one-color);
}

.social_media_wrap {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.website_rights {
    color: var(--six-color);
    margin-left: 38%;
}

.social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    margin-left: 40%;
}

@media screen and (max-width:960px) {
    .footer_container {
        display: grid;
        grid-column: auto;
        text-align: center;
    }
    .footer_link_wrapper {
        display: grid;
        grid-template-rows: max-content;
    }
    .footer_link_items {
        margin-left: 18%;
        text-align: center;
    }
    .social_media {
        display: grid;
        justify-content: center;
    }
    .social_media_wrap {
        display: grid;
        align-items: center;
    }
    .website_rights {
        margin: auto;
        padding: 30px;
    }
    .social_icons {
        margin: auto;
        padding: 5px;
    }
}